<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Idéal Photo</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active" > <a href="{{ path('photo_ideal_homepage') }}"><i class="fa fa-home"></i>  Accueil</a></li>

        </ul>
    </div>
    </div>
</nav>


